<div style="height:5000px">
  <div style="height:500px;background:red;"></div>
  <div style="height:500px;background:blue" id="container">
    {{#sticky-item wrapper='#container'}}
      <div style="height:100px;background:cyan;"></div>
    {{/sticky-item}}
  </div>
  <div style="height:500px;background:green;"></div>
</div>
